*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: black;
}

.titolo{
    color: red;
    font-size: 80px;
    text-align: center;
    margin-top: 2rem;
    text-decoration: line-through rgba(255, 255, 255, 0.345);
   
}
.full{
    height: 100vh;
    width: 100vw;
    background-color: black;
    
}
.resizing{
    text-align: center;
}
.boxImg{
    margin-top: 6rem;
    box-shadow: 1px 4px 20px gray,1px 4px 20px rgb(244, 244, 244);
    border-radius: 15px;
    margin-bottom: 3rem;
}
p{
    font-size: 20px;
    color: white;
    margin-bottom: 2rem;
}
.input-el{
    width: 250px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 6px blue , 2px 2px 6px rgb(255, 255, 255);
    display: block;
    margin-bottom: 2rem;
    color: white;
}
.gif{
    position: absolute;
    top: 210px; 
    right: 40px;
    width: 400px;
    aspect-ratio: 1/1;
   border-radius: 50%;
}
